{% block content %}

<!-- Modal -->
<div class="modal fade" {% block modal-id %} id="addModal" {% endblock modal-id %} tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">
              {% block modal-title %}Add Product {% endblock modal-title %} </h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <form {% block action %} action="/product" {% endblock action %} method="POST" class="py-3">
            {% csrf_token %}
            <div class="modal-body">

                <!--== Block Id ==-->
                {% comment %} {% block Value-id %}{% endblock Value-id %} {% endcomment %}

                {{form}}
                {% comment %} <div class="mb-3 input-group">
                  {% block Value-name %}{{form.name}}{% endblock Value-name %}
                </div>
                <div class="mb-3 input-group">
                  <label for="" class="form-label mx-3">Category:</label>
                  {% block Value-category %}{{form.category}}{% endblock Value-category %}
                </div>
                <div class="mb-3 input-group">
                  <label for="" class="form-label mx-3">Brand:</label>
                  {% block Value-brand %}{{form.brand}}{% endblock Value-brand %}
                </div>
                <div class="mb-3 input-group">
                  {% block Value-str_qnty %}{{form.str_qnty}}{% endblock Value-str_qnty %}
                </div>
                <div class="mb-3 input-group">
                  {% block Value-price %}{{form.price}}{% endblock Value-price %}
                </div> {% endcomment %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">
                        {% block btn-action %}Add Product{% endblock btn-action %}
                    </button>
                  </div>
            </div>
        </form> 
      </div>
    </div>
  </div>
  <!--=== Modal for Product Ends  ===-->

{% endblock %}