{% extends 'base.html' %}
{% load static %}

{% block title %}Brand{% endblock%}

{% block content %}
<br>
<div class="row">
    <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="card card-body">
            <h5>Brands</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for brands in brands %}
                <tr>
                    <td>{{brands.name}}</td>
                    <td><a href="{% url 'delete_brand' brands.id %}" 
                        class="btn btn-outline-danger" title="Delete">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>&nbsp;
                        <a href="{% url 'update_brand' brands.id %}" 
                        class="btn btn-outline-dark" title="Edit">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md py-3">
            <a class="btn btn-outline-primary" href="" data-toggle="modal" data-target="#exampleModal2">Create Brand</a>
            <!--Modal-->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModal2Label">Add Brand</h5>
                      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="" class="py-3">
                            {% csrf_token %}
                            {{form}}
                            <div class="py-3">
                            <input type="submit" name="Submit" class="btn btn-outline-info">
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
            <!--Modal end-->
        </div>
    </div>
</div>   

{% for message in messages %}
    {% if message.tags == 'success' %}
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script>
        var m = "{{ message }}";
        swal.fire("perfect !", m, "success")
    </script>
    {% endif %}
{% endfor %}

{% endblock %}
    

    