{% extends 'base.html' %}
{% load static %}

{% block title %}Product{% endblock title%}

{% block content %}
{% include 'ims/add_new.html' %}
<style>
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}
    
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
    
.closebtn:hover {
    color: black;
}
</style>
<br>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        {% for products in products %}
            {% if products.quantity <= products.reorder_level %}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>{{products.name}} Quantity is low kindly restock!!!</strong>
            </div>
            {% endif %}
        {% endfor %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" onkeyup="searchFunction()" id="search" placeholder="Product Name" aria-label="Product Name" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2"><a href="{% url 'product' %}"><i class="bi bi-arrow-repeat"></i></a></span>
        </div>
        <div class="d-flex justify-content">
            <h5 class="px-3">Products</h5>
            
        </div>
        
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="" data-toggle="modal" data-target="#addModal" >Create Product</a>
            <!--Modal-->
           
            <!--Modal end-->
            <table class="table" id="myTable">
                <tr id="chk-th">
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for products in product_page %}
                <tr>
                    <td>{{products.name}}</td>
                    <td>{{products.quantity}}</td>
                    <td>{{products.price}}</td>
                    <td><a href="{% url 'delete_product' products.id %}" class="btn btn-outline-danger" title="Delete">
                        <i class="fa-regular fa-trash-can"></i>
                        </a>&nbsp;
                        <a href="{% url 'edit' products.id %}" class="btn btn-outline-dark" title="Edit">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </td>
                    <td><a href="{% url 'productdetails' products.id %}" class="btn btn-outline-secondary" title="Restock">
                            <i class="fa-solid fa-dolly"></i>
                        </a>&nbsp;
                        <a href="{% url 'productdetails_staff' products.id  %}" class="btn btn-outline-success" title="Sales">
                            <i class="fa-solid fa-sack-dollar"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


{% comment %} <!--Modal-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Record Sales</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="" class="py-3">
                {% csrf_token %}
                {{update_form}}
                <div class="py-3">
                <input type="submit" name="Submit" class="btn btn-outline-info">
                </div>
            </form>
        </div>
      </div>
    </div>
</div> {% endcomment %}
<!--Modal end-->
<br/>
<div class="pagination">
    <span class="step-links">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if product_page.has_previous %}
        {% comment %} <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li> {% endcomment %}
        <li class="page-item"><a class="page-link" href="?page={{ product_page.previous_page_number }}">previous</a></li>
        {% endif %}
        {% for i in nums %}
        <span class="current">
          <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
        </span>
        {% endfor %}
  
        {% if product_page.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ product_page.next_page_number }}">next</a></li>
        {% comment %} <li class="page-item"><a class="page-link" href="?page={{ product_page.paginator.num_pages }}">last &raquo;</a></li> {% endcomment %}
        {% endif %}
        </ul>
      </nav>
    </span>
</div>

<span class="text-primary" id="no-data"></span>

{% for message in messages %}
    {% if message.tags == 'success' %}
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script>
        var m = "{{ message }}";
        swal.fire("perfect !", m, "success")
    </script>
    {% endif %}
{% endfor %}

{% endblock %}
    

    