{% extends 'base.html' %}
{% load static %}
{% block title %}Product Details{% endblock %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-12">
        <h4>Product</h4>
        <span>
          <a href="{% url 'product' %}" class="" id="arrow">
            <b><i class="bi bi-arrow-left-circle-fill" style="font-size:30px; color:black;"></i></b>
          </a>
        </span>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Reorder Level</th>
                    <th>Last Updated</th>
                </tr>
                
                <tr>
                    <td>{{products.name}}</td>
                    <td>{{products.quantity}}</td>
                    <td>{{products.price}}</td>
                    <td>{{products.reorder_level}}</td>
                    <td>{{products.last_updated}}</td>
                    
                </tr>
                
            </table>
            <div class="row d-flex justify-content-center">
                <a class="btn btn-outline-primary btn-sm mx-2 col-3" href="" data-toggle="modal" data-target="#reorderModal">Set Reorder Level</a>
                <a class="btn btn-outline-success btn-sm col-3 mx-" href="" data-toggle="modal" data-target="#restockModal">Restok</a>
               
            </div>
        </div>
    </div>
</div>    


<!--Modal-->
<div class="modal fade" id="restockModal" tabindex="-1" aria-labelledby="restockModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="restockModalLabel">Restock Product</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form method="post" action="" class="py-3">
              {% csrf_token %}
              {{restock_form}}
              <div class="py-3">
              <input type="submit" name="Submit" class="btn btn-outline-info">
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
<!--Modal end-->
 <!--Modal-->
 <div class="modal fade" id="reorderModal" tabindex="-1" aria-labelledby="reorderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reorderModalLabel">Set Reorder Level</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="" class="py-3">
                {% csrf_token %}
                {{reorder_form}}
                <div class="py-3">
                <input type="submit" name="Submit" class="btn btn-outline-info">
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
<!--Modal end-->
<script>
  const formInInput = document.querySelector('#id_quantity_restocked');
      
  console.log(formInInput.value);

  formInInput.value = '';

</script>

{% for message in messages %}
    {% if message.tags == 'success' %}
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script>
        var m = "{{ message }}";
        swal.fire("perfect !", m, "success")
    </script>
    {% endif %}
{% endfor %}

{% endblock %}