{% extends 'base.html' %}
{% load static %}
{% block title %}Product{% endblock %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control" onkeyup="searchFunction()" id="search" placeholder="Product Name" aria-label="Product Name" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2"><a href="{% url 'staffproduct' %}"><i class="bi bi-arrow-repeat"></i></a></span>
      </div>
        <h5>Product</h5>
        <hr>
        <div class="card card-body">
            <table class="table" id="myTable">
                <tr id="chk-th">
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                {% for products in product_page %}
                <tr>
                    <td>{{products.name}}</td>
                    <td>{{products.quantity}}</td>
                    <td>{{products.price}}</td>
                    <td><a href="{% url 'count' products.id %}" class="btn btn-outline-secondary" title="Count">
                      <i class="fa-solid fa-calculator"></i>
                      </a>&nbsp;
                      <a href="{% url 'productdetails_staff' products.id  %}" class="btn btn-outline-success" title="Sales">
                        <i class="fa-solid fa-sack-dollar"></i>
                      </a>
                  </td>
                </tr>
                {% endfor %}
            </table>
            
        </div>
    </div>
</div>
 <br/>

<div class="pagination">
  <span class="step-links">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
      {% if product_page.has_previous %}
      {% comment %} <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li> {% endcomment %}
      <li class="page-item"><a class="page-link" href="?page={{ product_page.previous_page_number }}">previous</a></li>
      {% endif %}
      {% for i in nums %}
      <span class="current">
        <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
      </span>
      {% endfor %}

      {% if product_page.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ product_page.next_page_number }}">next</a></li>
      {% comment %} <li class="page-item"><a class="page-link" href="?page={{ product_page.paginator.num_pages }}">last &raquo;</a></li> {% endcomment %}
      {% endif %}
    </ul>
  </nav>
  </span>
</div>

<span class="text-primary" id="no-data"></span>

{% for message in messages %}
    {% if message.tags == 'success' %}
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script>
        var m = "{{ message }}";
        swal.fire("perfect !", m, "success")
    </script>
    {% endif %}
{% endfor %}


{% endblock content %}

