<br>
<div class="row">
    {% comment %} {% if user.is_staff %} {% endcomment %}
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="card text-center text-white mb-3" id="stafff">
                <div class="card-header">
                    <h5 class="card-title">Staffs</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_staffs}}</h3>
                </div>
            </div>
    </div>
    {% comment %} {% endif %} {% endcomment %}
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="card text-center text-white mb-3" id="product">
                <div class="card-header">
                    <h5 class="card-title">Product</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_products}}</h3>
                </div>
            </div>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="card text-center text-white mb-3" id="category">
                <div class="card-header">
                    <h5 class="card-title">Category</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_cats}}</h3>
                </div>
            </div>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="card text-center text-white mb-3" id="brand">
                <div class="card-header">
                    <h5 class="card-title">Brand</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_brands}}</h3>
                </div>
            </div>
    </div>
</div>